@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor1: #4885bb;
    --cor2: #6F9ABF;
    --cor3: #B0C6D9;
    --cor4: #cedeff;
    --cor5: #aaa5a0;

    --font-logo: "Lobster", sans-serif;
}

/* Estilo do cabeçalho */
header {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-image: url(../img/img02-full.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 150px 150px 100px rgba(0, 0, 0, 0.8);
}

/* Estilo do título principal */
header h1 {
    width: 60%;
    height: 40%;
    align-items: center;
    font-size: 2em;
    margin: 3em 0em;
    color: var(--cor4);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Estilo da navegação */
nav {
    height: 15%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* Estilo do contêiner de navegação */
#nav-container {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* Estilo do contêiner do logotipo */
#logo-container {
    display: flex;
    justify-content: center;
}

/* Estilo do link do logotipo */
#logo-container>a {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    color: var(--cor4);
    font-family: var(--font-logo);
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    z-index: 1;
}

/* Estilo do contêiner de links */
#links-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo dos links */
#links-container>a {
    font-size: 1.2em;
    color: var(--cor4);
    text-decoration: none;
    z-index: 1;
}

/* Estilo do contêiner de autenticação */
#auth-container {
    display: flex;
}

#card {
    width: 60vw;
    height: 5vh;
    position: absolute;
    display: flex;
    top: 40%;
    left: 20%;
    background-color: var(--cor1);
    border-radius: 20px 20px 0px 0px;
    z-index: 1;
}

#card h2 {
    font-size: 1.5em;
    color: var(--cor1);
    margin: 1em 0;
}

#card ul {
    display: flex;
}

#card li {
    align-items: center;
    justify-content: space-evenly;
}

#card-interno {
    width: 60vw;
    height: 19vh;
    position: absolute;
    top: 45%;
    left: 20%;
    background-color: var(--cor4);
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
}

.option {
    display: flex;
    align-items: center;
    margin: 0em 2em;
    cursor: pointer;
    font-size: 16px;
}

/* Esconde o radio padrão */
.option input {
    display: none;
}

/* Círculo personalizado */
.checkmark {
    height: 20px;
    width: 20px;
    border: 2px solid var(--cor2);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: 0.3s;
}

/* Quando selecionado */
.option input:checked~.checkmark {
    background: var(--cor1);
    border-color: var(--cor4);
}

/* Bolinha dentro quando marcado */
.option input:checked~.checkmark::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background: var(--cor4);
    border-radius: 50%;
}

main {
    height: 47vh;
    width: 100vw;
    background-color: var(--cor5);
    display: flex;
    flex-flow: column nowrap;
    padding: 10% 20%;
}

footer {
    height: 3vh;
    width: 100vw;
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>p {
    font-size: 1em;
    margin: 0;
}